<header class='d-flex justify-content-between align-items-center'>
  <h1>Todos</h1>
  <a href='/todos/new' class='btn btn-primary'>New To Do</a>
</header>
<h1>Todos</h1>
<ul class="list-group">
    {{#each todos}}
    <li class="list-group-item d-flex justify-content-between">
        <div>
            {{this.title}}
        </div>
        <div class="links">
            <!-- for later -->
            <a href="/todos/{{this.id}}" class="btn btn-info">View</a>
        </div>
    </li>
    {{/each}}
</ul>